# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
.kotlin/
node_modules/
dist/
target/
.vitepress/cache/
android/.gradle/
src-tauri/gen/android/.gradle/
gradle-plugin/.kotlin/
gradle-plugin/bin/
apps/**/node_modules/
apps/**/dist/
core/bin/
features/bin/
